* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#loom-companion-mv3{
    display: none;
}

body, html {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    overflow-x: hidden;
    background-color: purple;
}

main {
    width: 80%;
    height: auto;
    min-height: 100vh;
    background-color: white;
    margin: 0 auto;
    padding-bottom: 30px;
}

.divs__1 {
    width: 80%;
    height: 100px;
    background-color: green;
    font-size: 30px;
    margin: 10px;
    margin-left: 0;
    padding: 10px;
}

.divs__2 {
    width: 50%;
    height: 50px;
    background-color: yellow;
    font-size: 15px;
    margin: 0 auto;
    padding: 10px;
}

.divs__3 {
    width: 50%;
    height: 50px;
    background-color: orange;
    font-size: 15px;
    margin: 0 auto;
    padding: 10px;
}

.contenedor_divs__2 {
    height: auto;
    margin: 30px 0;
}

.contenedor_divs__3 {
    height: 200px;
    margin: 30px 0;
    overflow-y: scroll;
    background-color: orange;
    width: 50%;
    margin: 0 auto;
}

.modal {
    position: fixed;
    height: 40vh;
    width: 60vw;
    background-color: rgba(0,0,0,0.5);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 40%;
    left: 20%;
}

.modal > h2 {
    font-size: 50px;
    color: white;
    text-align: center;
}

.div__imagen {
    background-image: url('cc0a31a7802fbe6ac29f470816f020b7.jpg');
    background-size: cover;
    width: 500px;
    height: 400px;
    margin: 0 auto;
}
